@font-face {
    font-family: "Arial-MT";
    src: url("../assets/fonts/Arial-MT.woff");
    /* Путь к файлу со шрифтом */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: url("") center/cover, rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    overflow-x: hidden;
    transition: background-image 1s ease-in-out;
    display: flex;
    flex-direction: column;
}

.footer {
    flex-shrink: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    /* height: 30vh; */
    min-height: 220px;
    padding: 20px;
}

.hidden-block {
    opacity: 0;
    transition: opacity 0.5s;
}

header *,
main *,
footer * {
    transition: opacity 0.5s;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    margin-bottom: 28px;
}

.play-list {
    text-align: left;
}

.play-item {
    position: relative;
    padding: 5px;
    padding-left: 20px;
    list-style: none;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.play-item:hover {
    opacity: 1;
}

.play-item::before {
    content: "\2713";
    position: absolute;
    left: 0;
    top: 2px;
    font-weight: 900;
}

.item-active::before {
    color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
    opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
    border: 0;
    outline: 0;
    transform: scale(1.1);
}

.play {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-image: url("../assets/svg/play.svg");
}

.pause {
    background-image: url("../assets/svg/pause.svg");
    background-size: contain;
}

.play-prev {
    background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
    background-image: url("../assets/svg/play-next.svg");
}

.play-data {
    max-width: 200px;
}

.player__controls {
    display: flex;
}

.music-control {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.payer__name-song {
    margin: 0 5px;
    font-size: 10px;
}

.volume-box {
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volume {
    margin-right: 5px;
    display: block;
    position: relative;
    width: 15px;
    height: 15px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.volume-on {
    background-image: url(../assets/svg/volume.svg);
}

.volume-off {
    background-image: url(../assets/svg/novolume.svg);
}

.player__volume-range {
    width: 40px;
    height: 5px;
}

.player__progress {
    margin-bottom: 10px;
    position: relative;
}

.player__slider {
    display: block;
    cursor: pointer;
}

.box-inp {
    margin-bottom: 10px;
    display: block;
    cursor: pointer;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 5px;
    width: 180px;
    min-height: 180px;
    text-align: left;
}

.weather-error {
    margin-top: -10px;
}

.description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
}

.weather-icon {
    font-size: 44px;
}

.city {
    width: 170px;
    height: 34px;
    padding: 5px;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #fff;
    background-color: transparent;
}

.city::placeholder {
    font-size: 20px;
    color: #fff;
    opacity: 0.6;
}

.main {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.slider-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
    cursor: pointer;
}

.slide-prev {
    left: 20px;
    background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
    right: 20px;
    background-image: url("../assets/svg/slider-next.svg");
}

.time {
    min-height: 124px;
    margin-bottom: 10px;
    font-family: "Arial-MT";
    font-size: 100px;
    letter-spacing: -4px;
}

.date {
    min-height: 28px;
    font-size: 24px;
    margin-bottom: 20px;
}

.greeting-container {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    min-height: 48px;
    width: 100vw;
    font-size: 40px;
}

.greeting {
    flex: 1;
    padding: 10px;
    text-align: right;
}

.name {
    flex: 1;
    max-width: 50%;
    padding: 10px;
    font-size: 40px;
    text-align: left;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.name::placeholder {
    color: #fff;
    opacity: 0.6;
}

.footer {
    padding: 20px;
}

.footer__inner {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.footer__coop {
    padding: 5px 0;
    background-color: rgba(255, 255, 255, 0.199);
    border-radius: 10px;
}

.footer__coop a {
    font-size: 12px;
}

.footer__coop-my {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__coop-my span {
    display: inline-block;
    margin-left: 10px;
}

.footer__coop-my svg {
    height: 25px;
    width: 25px;
}

.footer__coop-course a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.footer__coop-course span {
    margin-left: 5px;
}

.footer__coop-course img {
    width: 70px;
    height: 40px;
    object-fit: contain;
}

.bg-query,
.setting__bg {
    padding: 5px 0;
    margin: 0 auto 10px;
    max-width: 150px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.setting__bg {
    margin-bottom: 20px;
}

.setting {
    position: relative;
    text-align: center;
    transition: opacity 0.5s;
}

.setting__inner {
    padding: 15px 10px;
    border-radius: 10px;
    background-color: rgba(15, 15, 15, 0.772);
    position: absolute;
    width: 200px;
    bottom: 50px;
    left: 0;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.5s;
}

.setting__inner--hide {
    opacity: 0;
    z-index: -1;
}

.quotes-box {
    margin: 0 5px;
    max-width: 390px;
    min-width: 250px;
    width: 100%;
}

.todo-box {
    position: relative;
}

.todo {
    padding: 15px;
    position: absolute;
    right: 0;
    width: 230px;
    bottom: 50px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.728);
    min-height: 225px;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: -1;
}

.todo--active {
    opacity: 1;
    z-index: 1;
}

.todo-open-btn,
.setting__open {
    padding: 5px 20px;
    font-size: 21px;
    border: none;
    border-radius: 10px;
    transition: background 0.5s;
    cursor: pointer;
}

.todo-open-btn:hover,
.setting__open:hover {
    background-color: rgb(171, 171, 171);
}

.todo ul {
    list-style: none;
}

.todo__tabs {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.todo__tabs li {
    flex-grow: 2;
}

.todo button {
    display: block;
    width: 100%;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 18px;
    background-color: rgb(255, 255, 255);
    transition: background 0.5s;
    cursor: pointer;
}

.todo button:hover {
    background-color: rgb(207, 207, 207);
}

.todo__input {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    padding: 8px 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgb(62, 255, 62);
    transition: border 0.5s;
}

.todo__input:hover {
    border: 2px solid rgb(62, 255, 62);
}

.todo__done,
.todo__delete-last {
    margin-left: 10px;
}

.todo__input--hide {
    display: none;
}

.todo__btns-delete {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.todo__btns-delete button {
    padding: 3px 0;
    font-size: 16px;
}

.todo .todo__clear-all {
    background-color: #f74d4d;
    transition: background 0.5s;
}

.todo .todo__delete-last {
    background-color: #f6bd20;
    transition: background 0.5s;
}

.todo .todo__delete-last:hover {
    background-color: #dba100;
    transition: background 0.5s;
}

.todo .todo__clear-all:hover {
    background-color: #f53535;
}

.todo__list {
    padding: 2px 0;
    max-height: 110px;
    overflow-y: auto;
}

.todo__list::-webkit-scrollbar,
.block-management::-webkit-scrollbar {
    width: 5px;
}

.todo__list::-webkit-scrollbar-track,
.block-management::-webkit-scrollbar-track {
    background-color: rgba(253, 253, 253, 0.447);
}

.todo__list::-webkit-scrollbar-thumb,
.block-management::-webkit-scrollbar-thumb {
    background-color: rgba(31, 31, 31, 0.911);
    max-height: 100%;
    height: 1px;
    width: 10px;
    cursor: pointer;
}

.todo__list::-webkit-scrollbar-thumb:hover,
.block-management::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.911);
    cursor: pointer;
}

.todo__list-box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.todo__today--active button {
    background-color: rgb(184, 184, 184);
}

.todo__done--acitve button {
    background-color: rgb(184, 184, 184);
}

.todo__clear-all {
    background-color: #f74d4d;
}

.todo__list-box span {
    line-height: 18px;
    font-size: 16px;
}

.todo__done-inp {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    cursor: pointer;
    transition: height 0.5s;
}

.todo__done-inp:hover {
    height: 17px;
}

.todo__item:not(:last-of-type) {
    margin-bottom: 15px;
}

.todo__list-box span {
    width: 100%;
    text-align: left;
}

.block-management {
    height: 120px;
    overflow-y: auto;
}

.block-management h3 {
    margin-bottom: 10px;
}

.change-quote {
    margin-bottom: 20px;
    background-image: url("../assets/svg/reload.svg");
}

.quote {
    margin-bottom: 5px;
    min-height: 32px;
}

.author {
    min-height: 20px;
    font-style: italic;
}

@media (max-width: 768px) {
    .time {
        min-height: 80px;
        font-size: 72px;
    }
    .greeting-container {
        min-height: 40px;
        font-size: 32px;
    }
    .greeting {
        padding: 5px;
    }
    .name {
        font-size: 32px;
        padding: 5px;
    }
}